<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Pokemon</title>
    <link rel="stylesheet" href="/styles/show/style.css">
</head>
<body>
    <h1>Pokemon Show Page</h1>
    <%= pokemon.name %>
    <!-- not a path to a static asset, the path will be the data from pokemon object -->
    <img src="<%= pokemon.img %>" style="max-width: 200px;display:block;padding: 20px;border:1px solid red;"/>

    <a href="/pokemon">Back to index</a>
</body>
</html>